<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*"
           Name="ChaseTheCursor"
           Language="1033"
           Version="1.0.0"
           Manufacturer="Nanane"
           UpgradeCode="E8C8DCC2-3B8F-4F32-9C3B-2F0E9B8D5DE4">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- Icon for Add/Remove Programs -->
    <Icon Id="AppIcon" SourceFile="..\\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPHELPLINK" Value="https://nanane.de" />
    <Property Id="ARPURLINFOABOUT" Value="https://nanane.de" />
    <!-- Required by WixUI_InstallDir -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Feature Id="MainFeature" Title="OpenInCursorDisplay" Level="1">
      <ComponentRef Id="cmpMainExe" />
      <ComponentRef Id="cmpStartMenuShortcut" />
      <ComponentRef Id="cmpStartupRun" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="ChaseTheCursor">
          <Component Id="cmpMainExe" Guid="*">
            <File Id="filExe" Source="..\\ChaseTheCursor.exe" KeyPath="yes" Checksum="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppProgramMenuDir" Name="ChaseTheCursor" />
      </Directory>
    </Directory>

    <DirectoryRef Id="AppProgramMenuDir">
      <Component Id="cmpStartMenuShortcut" Guid="*">
        <Shortcut Id="StartMenuShortcut"
                  Name="ChaseTheCursor"
                  Description="ChaseTheCursor"
                  Target="[INSTALLDIR]ChaseTheCursor.exe"
                  WorkingDirectory="INSTALLDIR"
                  Icon="AppIcon" />
        <RemoveFolder Id="RemoveShortcutDir" Directory="AppProgramMenuDir" On="uninstall" />
        <!-- Dummy registry key path to anchor the shortcut component -->
        <RegistryValue Root="HKCU" Key="Software\ChaseTheCursor" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <!-- Per-user startup (current user). Default is installed, app can toggle later. -->
      <Component Id="cmpStartupRun" Guid="*">
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="ChaseTheCursor"
                       Type="string"
                       Value="&quot;[INSTALLDIR]ChaseTheCursor.exe&quot;"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- UI with license and install directory, and an optional 'Launch' checkbox on Exit -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ChaseTheCursor" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <WixVariable Id="WixUILicenseRtf" Value="..\LICENSE.rtf" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX=1 AND NOT Installed</Publish>
    </UI>

    <!-- Launch after install -->
    <CustomAction Id="LaunchApplication" FileKey="filExe" ExeCommand="" Return="asyncNoWait" Impersonate="yes" />

    <!-- Force close the running app during install/upgrade/uninstall using ComSpec -->
    <CustomAction Id="KillChaseTheCursorOnInstall" Directory="INSTALLDIR" ExeCommand='[ComSpec] /c taskkill /IM "ChaseTheCursor.exe" /T /F' Execute="immediate" Return="ignore" Impersonate="yes" />
    <CustomAction Id="KillChaseTheCursorOnUninstall" Directory="INSTALLDIR" ExeCommand='[ComSpec] /c taskkill /IM "ChaseTheCursor.exe" /T /F' Execute="immediate" Return="ignore" Impersonate="yes" />

    <InstallExecuteSequence>
      <!-- Close before uninstall file removal -->
      <Custom Action="KillChaseTheCursorOnUninstall" Before="RemoveFiles">REMOVE~="ALL"</Custom>
      <!-- Close before fresh install copies -->
      <Custom Action="KillChaseTheCursorOnInstall" Before="InstallValidate">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
